{
    "printWidth": 120,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always",
                "printWidth": 80
            }
        }
    ]
}
